*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    font-size: clamp(.7rem, 2vw, 1.5rem);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.navbar .logo h1{
    color: white;
}
.items{
    flex: 1;
    text-align: right;
}
.items ul{
    display: inline-block;
    list-style-type: none;
}

.items ul li{
    display: inline-block;
    margin-right: 50px;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 350px;
    background: url(/images/back.jpg) no-repeat ;
    background-size: cover;
    color: white;
    font-size: 30px;
    text-align: center;
    font-size: clamp(1.3rem, 5vw, 1.7rem);
}


.line{
    width: 150px;
    height: 4px;
    background-color: rgb(255, 52, 52);
    margin: 10px auto;
    border-radius: 5px;
}
.line3{
    background-color: rgb(255, 52, 52);
    width: 10px;
    height: 800px;
    margin-left: 150px;
    display: flex;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    display: none;
}
.line4{
    background-color: rgb(255, 52, 52);
    width: 10px;
    height: 800px;
    display: flex;
    right: 0;
    margin-right: 150px;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    display: none;
}

.images{
    margin-top: 30px;
    text-align: center;
}
.images img{
    width: 300px;
    padding: 20px;
    height: 200px;
    transition: 0.7s;
    max-width: 100%;
    border-radius: 50px;
}

.images img:hover{
    transform: scale(1.1);
}
.contries h1{
    text-align: center;
    padding-top: 30px;
    font-size: 1.875rem;
}
.copyright{
    position: absolute;
    left: 0;
}
.toggle-btn{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 22px;
}
.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 600px){
    .toggle-btn{
        display: flex;

    }
    .navbar .items{
        width: 100%;
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .items ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .items li{
        text-align: center;
        margin: 10px;
    }

    .items.active{
        display: flex;
    }
}

@media (max-width: 400px){

    .line3{
        display: flex;
    }
    .line4{
        display: flex;
    }
}

.about{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 5px 25px black;
    border-radius: 5px;
    margin: 100px 0;
}
.aboutme{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.line1{
    width: 300px;
    height: 4px;
    background-color: rgb(255, 52, 52);
    margin: 10px auto;
    border-radius: 5px;
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}
